body{
    margin: 0px;
    background: #f2f2f2;
}
.main_header_style{
    background: #000;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    display: flex;
}
.header_logo_style{
    background: #fff;
    width: 150px;
    margin-left: 20px;
    height: 32px;
}
.logo_style{
    margin: 0px 5px 0px 5px;
}
.search_bar_style{
    height: 28px;
    width: 500px;
    border: none;
    border-radius: 2px;
    color: #1a1a1a;
}
.header_icon_style{
    opacity: 0.8;
    color: white;
    margin-right: 20px;
    height: 32px;   
    text-align: center;
}
.header_icons_style{
    display: flex;
}
.main_title_text_style{
    text-align: center;
    font: 38px Roboto-Regular,Helvetica,Arial,sans-serif;
    padding: 30px;
    border-top: 1px;
    color: black;
}
.style_poster_book{
    width: 200px;
    height:320px;

}
.style_books_gallery{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 52px;
}
.holder{
    position:relative;   
    width:200px;
    height:320px;
    margin:10px;
}
.holder:hover{
    transform: scale(1.05);
    transition: transform .4s;
    transform-origin: bottom;
}
.holder:hover .block{
    display:block;
}
.discrip_text_style{
    margin: 10px;
    line-height: 16px;
    font-weight: 600;
}
.price_text_style{
    font-size: 20px;
    text-align: center;
    padding: 5px 30px 5px 30px;
    color: white;
}
.text_link_style{
    border-bottom: 2px dashed;
    display: inline-block
}
.buy_button_style{
    background: linear-gradient(180deg,#ff4800 0,#ff8700);
    display: inline-block;
    border-radius: 3px;
    margin: 0px 10px 10px 10px;
    cursor: pointer;
    
}
.section-name{
    text-align: left;
    font: 24px Roboto-Regular,Helvetica,Arial,sans-serif;
    margin: 25px 65px 15px 65px;
    border-top: 1px;
}
.input_discrip_text_style{
    display: contents;
    font-weight: normal;
}
.max_size_text_block{
    height: 260px;
}
.dialog_box_scale{
    width: 1000px;
}
.name_of_book{
    font: 24px Arial,Helvetica,sans-serif;

}
.style_title{
    display: flex;
    justify-content: space-between;
}
.text_discription_in_menu{
    font: 14px Tahoma,Helvetica,sans-serif;
}
.text_decoration{
    text-decoration: underline;
    cursor: pointer;
}
.product_info{
    display: flex;
    /* width: 464px; */
}
.product_description{
    padding: 10px;
    width: 244px;
}
.buying{
    border-bottom: 1px solid #c0bfbf;
    border-top: 1px solid #c0bfbf;
    margin: 10px 0px 5px 0px;
    padding: 10px 15px 10px 18px;
}
.buying_price_val{
    font-size: 18px;
    color: #1868a0;
    font-weight: 600;
}
.btn_primary{
    background: linear-gradient(180deg,#ff4800 0,#ff8700);
    height: 40px;
    width: 190px;
    border-radius: 3px;
    cursor: pointer;
    color: white;
}
.btn_text_decoration{
    padding: 10px;
    text-align: center;
    font-size: 18px;
}
.fave{
    color: rgba(0, 0, 0, 0.157);
    margin: 5px 0px 5px 0px;
}
.link{
    color: #1868ac;
    border-bottom: 1px dashed;
    font-size: 14px;
}
.right_text_info{
    margin-left: 20px;
    margin-top: 5px;
}
.rate_back{
    background-image: url(img/ocenka.gif);
    background-repeat: no-repeat;
    width: 48px;
    font-size: 18px;
    color: white;
    height: 30px;
    padding-top: 5px;
    text-align: center;
}
.rate_font{
    font-size: 14px;
    margin-right: 20px;
}
.rate_text_style{
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product_title_text{
    font: 14px Arial,Helvetica,sans-serif;
    color: #000;
    font-weight: 700;
}
.rate_texts_style{
    display: flex;
    margin-bottom: 10px;
}
.two_cards_info{
    background-color: #1a1a1a17;
    display: flex;
}
.shadow {
    box-shadow: 0 0 10px rgba(0,0,0,0.3); /* Параметры тени */
}

.registration-butten-position{
    display: flex;
    justify-content: center;
    font-weight: 600;
    border-bottom: 1px solid #1c1c1c32;
    height: 25px;
  }
  .b-auth-email__registration-button{
    height: 45px;
    cursor: default;
    color: #47B3AC;
    border-color: #47B3AC;
    background-color: inherit;
    border: 3px solid;
    font-weight: 600;
    cursor: pointer;
  }
  .registr-butten-style{
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  .b-auth-email__input-label{
    position: relative;
    top: -4px;
    left: 1px;
    text-align: left;
    line-height: 25px;
    height: 30px;
    margin-bottom: -10px;
  }
  .g-tab__content{
    font: 15px PTSerif,serif;
    margin-top: 30px;
  }
  .g-input__input{
    height: 25px;
    width: 227px;
  }
  .bottom-margin-input-lable{
  margin-bottom: 10px;
  }
  .l-home-school__information-links-wrap{
    box-sizing: border-box;
    margin-bottom: 55px;
    padding: 0 40px;
    max-width: 1300px;
    margin: auto;
  }